@font-face {
  font-family: CaslonAntique;
  src: url(/esercizi-mate/caslon-antique-normal.otf) format("opentype");
}

html {
  font-family: CaslonAntique,serif;
}

img[src$='#floatleft']
{
	float:left;
  margin-right: 1em
}

body {
  hyphens: none;
}